

body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;

}
                               
h1{     
    color: #645419;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    text-align: center;
    margin-top: 0;
    background-color: #CFB645;
    padding: 25px;
    font-weight: bold;
}

h2{
    color: #121211;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

h3{
    color: #E5322A;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

h4{
    color: #CFB645;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

#titulo{
    text-align: center;
}

#logo{
    text-align: center;
}

#logo img{
    width: 250px; 
    margin-top: 70px;
    border-radius: 27%;
}

.botao{
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 60px;
    width: 300px;
    border-style: solid;
    border-width: 3px;
    color: white;
    padding: 40px;
    border-radius: 25px;
    font-size: 22px;
    cursor: pointer;
    background-color: #E5322A;
}

.botao:hover{
    background-color: #c00f05;
}

#alinhar{
    text-align: center;
}

#bg-video {
    filter: hue-rotate(0deg) brightness(100%) opacity(0.8) blur(10px);
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 50px;
    width: auto;
    height: auto;
    z-index: -1;
   }    

   .rodape{
    background-color: #CFB645;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    margin-top: 2%;
    color: #645419;
    font-weight: bold;
  }
  
  #logoInc{
    position: absolute;
    width: 70px;
    margin-top: 8px;
    margin-left: 30px;
    border-radius: 27%;
  }


